/* color marron-dorado #857550 */
/*color marron dorado light #b7aa8d*/
/* color footer #857550 */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
html, body {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  font-family:"DM Serif Display";
}

.spinner {
  color: #660033;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form,
.login-form {
  margin-bottom: 20px;
}
h3 {
  text-align: center;
}

/* ADMIN CREATE FORM */
.admin-create-form {
  margin: auto;
  width: 75%;
}

.container-admin{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
/* USER HOME */
.carousel .carousel-item {
  height: 300px;
}
.card-body{
  padding:0;
}
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 300px;
}
.container-all {
  margin: auto;
  width: 70%;
}
.card img {
  height: 120px;
  width: auto !important;
}
.card{
  border:none;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 20rem;
}
.card a {
  text-decoration: none;
  color:black
}
.card:hover{
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);
}
.grid-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
/* NAV BAR */
.navbar{ /*imagen de logo*/
padding: 0;
background-color: #857550;

}
.navbar a{
  color:white;
}

.bi-search{
  display: flex;
  align-items: center;
  margin-left: 10px !important;
  color:gray;

}

/* SEARCH BAR*/
.search-bar{
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px;  
 
 
}
/*FOOTER*/

footer{
  background-color: #857550 !important;
 margin-top: 180px;
}

/* FORM COMENTARIO Y COMENTARIOS*/
.container-comentario{
  display: flex;
justify-content: center;
  margin-top: 30px;
}

.comentarios{
  border:1px solid rgb(168, 168, 168) ;
  border-radius: 8px;
  width: 300px;
  height: auto;
  text-align: justify;
  padding: 10px 10px;
  margin: 20px;
 

}
.caja-comentarios{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-comentarios h3{
  margin: 20px;
}
/*BOTONES*/
.btn-cart{
  margin: 10px;
  width: 40px;
  background-color:  #857550 ;
  border-color: cornsilk;
  font-weight: bolder;
}
.btn-cart:hover {
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);  
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
  background-color: rgb(165, 142, 42);
  border: rgb(165, 142, 42) ;
}

.btn-vaciar{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 80px;
 margin-top: 50px;
}

.btn-vaciar p{
 font-size: 18px;
 font-weight: bolder;
 
}
.color-vaciar{
  background-color: #7f1734 ;
  font-weight: bolder;
  border: #7f1734;
}
.color-vaciar:hover{
 background-color: #d46282 ;
 -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);  
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
}
.color-pagar{
  background-color:#00703c ;
  font-weight: bolder;
  border: #00703c;
}
.color-pagar:hover{
  background-color: #5cbe90;
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);  
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
}
.btn-añadir{
  display: flex;
 justify-content: space-evenly;
 
 margin-top: 50px;
}
.btn-añadir Button{
  background-color:  #857550 ;
  border-color: cornsilk;
  font-weight: bolder;
}
.btn-añadir button:hover{
   -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);  
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
  background-color: rgb(165, 142, 42);
  border: rgb(165, 142, 42)
} 

.container-details{
  margin-top: 50px;
}


.cart-carrito{
  margin: 40px;
  display: flex;
  justify-content: center;
}

.cart-img-carro{
  width: 100px;
  margin-top: 20px;
  
}
.cart-img-carro img{
  
  display: flex;
  justify-content: center;
  
}

.cart-text-carro{
  text-align: center;
  line-height: 15px;
  margin-top: 20px;
}
h1, h3{
  margin-top: 50px;
  margin-bottom: 30px;
  
}
.card-random{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  margin: 100px 100px;

}
.input-price{
  display: flex;
  justify-content: center;
  
  margin-top: 50px;
}
.input-price p{
 margin: 0 20px 0 20px;
 display: flex;
 align-items: center;
}
.btn-añadir-home{
  background-color:  #857550 ;
  border-color: cornsilk;
  font-weight: bolder;
  margin-top: 30px;
}
.btn-añadir-home:hover{
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);  
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15); 
  background-color: rgb(165, 142, 42);
  border: rgb(165, 142, 42)
}
.dropdown-toggle {
  background-color: #857550 !important;
 border:cornsilk ;

}
.navbar-toggler {
 border: 2px solid white ;
}

.btn.disabled,.btn:disabled{
  background-color: #857550 !important;
  border:none;
}