.App {
  text-align: center;
}

.spinner{
  color: #660033;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form,.login-form{
  margin-bottom: 20px;

}
h3{
  text-align: center;
}


/* ADMIN CREATE FORM */
.admin-create-form{
  margin: auto;
  width: 75%;
}
/* USER HOME */
 .carousel .carousel-item {
  height: 300px;
  
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}
.container-all{
 margin: auto;
 width: 70%;

} 
.card img{
  height: 120px;
  width: auto !important;
}
.card a{
  text-decoration: none;
}
.grid-products{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}