.App {
  text-align: center;
}

.spinner{
  color: #660033;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form,.login-form{
  margin-bottom: 20px;

}
h3{
  text-align: center;
}


/* ADMIN CREATE FORM */
.admin-create-form{
  margin: auto;
  width: 75%;
}